.DS_Store
.vscode/
06-instructors/find_duplicate_packages.sh
__pycache__/
.ipynb_checkpoints
tmp/
01_materials/notebooks/day1_livecode.ipynb
01_materials/notebooks/day2_livecode.ipynb
01_materials/notebooks/day3_livecode.ipynb
01_materials/notebooks/day4_livecode.ipynb
01_materials/notebooks/day5_livecode.ipynb
01_materials/notebooks/day6_livecode.ipynb
01_materials/notebooks/day7_livecode.ipynb
